// Navigation Styles here
nav {
    display: flex;
    justify-content: space-between;

    @media @mobile {
        width: 90%;
        }

}

a {
    font-size: 15px;
    color: @shark;
    padding: 30px;
    text-decoration: none;

    @media @mobile {
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        }
}